.shop {
    font-family: 'Unica One';
    font-weight: 400;
    width: 1920px;
    height: 1080px;
    margin: 0 auto;

}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.logo {
    width: 236px;
    height: 132px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
    font-size: 24px;
}

.personal {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 36px;
}

.img1 {
    width: 36px;
    height: 36px;
}

.img2 {
    width: 46px;
    height: 46px;
}

.cotent {
    position: relative;
}

.container {
    overflow: hidden;
    position: relative;

}

.container1 {
    display: flex;
    justify-content: space-between;
    margin-top: 82px;
    position: relative;
    z-index: 1;
}

.container2 {
    margin: 160px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    margin: 151px 210px 0;
    padding: 0 80px;
    position: relative;
    z-index: 1;
}

.product {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;

}

.product-picture {
    margin-top: 1px;
    width: 1107px;
    height: 941px;
    overflow: hidden;
}

.text-type {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #131212;
    margin-bottom: 12px;
}

.type {
    font-size: 72px;
    margin-top: 13px;
}

.review-shoes {
    font-family: 'Helvetica Neue';
    font-weight: 500;
    color: #131212;
    font-size: 20px;
    line-height: 30px;
    width: 488px;
    margin-top: 24px;
    opacity: 50%;
}

.color,
.size,
.rotate {
    margin-left: 36px;
    position: relative;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.type-shoes {
    display: flex;
    flex-direction: column;
    flex-basis: 488px;
}

.choose-color>button:hover,
.choose-size>button:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.choose-size>button {
    width: 48px;
    height: 48px;
    background-color: #fff;
    border: 1px solid #b3b3b3;
    margin-right: 5px;
    margin-top: 28px;
}

.choose-color>button {
    width: 48px;
    height: 48px;
    background-color: #F2994A;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 28px;
}

.choose-color button:nth-child(1) {
    background-color: #B6A179;
}

.choose-color button:nth-child(2) {
    background-color: #272425;
}

.choose-color button:nth-child(3) {
    background-color: #6389CB;
}

.choose-color button:nth-child(4) {
    background-color: #F2C758;
}

.rotate {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
}

.icon-link {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);

}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.arrow-line-left,
.arrow-line-right {
    position: relative;
    width: 40px;
    height: 1px;
    background-color: black;
    margin-top: 5px;
}

.arrow-line-left::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 6px solid black;
}

.arrow-line-right::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 6px solid black;
}


/*block1*/
#block1 {
    width: 481px;
    height: 481px;
    border-radius: 50%;
    border: 31px solid #F2994A;
    position: relative;
}

.rectangle {
    width: 184px;
    height: 96px;
    border-radius: 50px;
    background-color: #EB5757;
    position: absolute;
}

.left {
    left: 56px;
    top: 199px;
}

.right {
    right: 57px;
    top: 199px;
}

.top,
.bottom {
    transform: rotate(90deg);
}

.top {
    top: 73px;
    left: 148px;
}

.bottom {
    bottom: 60px;
    left: 148px;
}

/*block2*/
#block2 {
    width: 2321px;
    height: 3613px;
    background-color: #C4C4C4;
}

.section {
    padding: 947px 203px 1299px 203px;
    display: grid;
    grid-template-columns: 448px 1298px;
    grid-template-rows: 386px 386px 386px;
    row-gap: 105px;
    column-gap: 169px;
}

.section div:nth-child(odd) {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 96px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.section div:nth-child(even) {
    background-color: #0085FF;
}