@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import "_vars";

html {
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
    background-color: antiquewhite;
}

.container {
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
}

@mixin contact-button {
    background-color: $first-text-color;
    width: 25rem;
    height: 6rem;
    color: #FFFFFF;
    font-size: 1.6rem;
    border: none;
    border-radius: 1rem;
    padding: 0;
    margin-top: 8.7rem;
}

@mixin text-content {
    font-size: 1.6rem;
    font-weight: 400;
    color: $second-text-color;
    line-height: 3rem;
}

@mixin social-item {
    width: 3.4rem;
}

@mixin flex-column {
    display: flex;
    justify-content: space-between;
}

@mixin custom-ul {
    list-style-type: none;
}

@mixin custom-li {
    text-decoration: none;
    color: $second-text-color;
}

@mixin li-header {
    gap: 4.3rem;
}

@mixin number-icon {
    width: 5.5rem;
}

@mixin box-shadow {
    box-shadow: 0px 70px 30px rgb(0 0 0 / 3%);
}
@mixin number-text {
    color: $third-text-color;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
@mixin number-content {
    color: $second-text-color;
    font-size: 2rem;
    font-weight: 400;
}
@mixin custom-h3 {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 5rem;
}

@mixin product-custom {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 2.4rem;
    width: 36rem;
    height: 35.5rem;
}

@mixin product-name {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3rem;
    color: $four-text-color;
}

@mixin product-button {
    border: 0.2rem solid $first-text-color;
    border-radius: 4.7rem;
    width: 14.9rem;
    height: 4rem;
    background-color: transparent;
}