/*color*/
$primary-color: #FFFFFF;
$secondary-color: #FAFAFA;
$third-color: #FBFBFB;
$fouth-color: #FCFCFC;
$five-color: #FEFEFE;
$six-color: #F8F8F8;


$first-text-color: #8CC5F9;
$second-text-color: #4F5665;
$third-text-color: #0B132A;
$four-text-color: #08090A;
$five-text-color: #BDBDBD;
